In [2]:
import pandas as pd

In [3]:
datos=pd.read_excel("D:/Universidad/Maestria/Tesis/DATOS/Data_Agrupada_depurada/datos_planteles_agrupada_final.xlsx")

In [4]:
datos.columns

Index(['CANTIDAD_ESTUDIANTES', 'COLE_AREA_UBICACION', 'COLE_BILINGUE',
       'COLE_CALENDARIO', 'COLE_CARACTER', 'COLE_COD_DANE_ESTABLECIMIENTO',
       'COLE_COD_DANE_SEDE', 'COLE_COD_DEPTO_UBICACION',
       'COLE_COD_MCPIO_UBICACION', 'COLE_DEPTO_UBICACION', 'COLE_GENERO',
       'COLE_MCPIO_UBICACION', 'COLE_NATURALEZA',
       'COLE_NOMBRE_ESTABLECIMIENTO', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'ESTU_DEDICACIONINTERNET_30 minutos o menos',
       'ESTU_DEDICACIONINTERNET_Entre 1 y 3 horas',
       'ESTU_DEDICACIONINTERNET_Entre 30 y 60 minutos',
       'ESTU_DEDICACIONINTERNET_Más de 3 horas',
       'ESTU_DEDICACIONINTERNET_No Navega Internet',
       'ESTU_DEDICACIONLECTURADIARIA_30 minutos o menos',
       'ESTU_DEDICACIONLECTURADIARIA_Entre 1 y 2 horas',
       'ESTU_DEDICACIONLECTURADIARIA_Entre 30 y 60 minutos',
       'ESTU_DEDICACIONLECTURADIARIA_Más de 2 horas',
       'ESTU_DEDICACIONLECTURADIARIA_No leo por entretenimiento',
       'ESTU_GENERO_F', 'ESTU_GENERO_M', 'ESTU_TIENEETNIA_No',
       'ESTU_TIENEETNIA_Si',
       'FAMI_EDUCACIONMADRE_Educación profesional completa',
       'FAMI_EDUCACIONMADRE_Educación profesional incompleta',
       'FAMI_EDUCACIONMADRE_Ninguno', 'FAMI_EDUCACIONMADRE_No Aplica',
       'FAMI_EDUCACIONMADRE_No sabe', 'FAMI_EDUCACIONMADRE_Postgrado',
       'FAMI_EDUCACIONMADRE_Primaria completa',
       'FAMI_EDUCACIONMADRE_Primaria incompleta',
       'FAMI_EDUCACIONMADRE_Secundaria (Bachillerato) completa',
       'FAMI_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta',
       'FAMI_EDUCACIONMADRE_Técnica o tecnológica completa',
       'FAMI_EDUCACIONMADRE_Técnica o tecnológica incompleta',
       'FAMI_EDUCACIONPADRE_Educación profesional completa',
       'FAMI_EDUCACIONPADRE_Educación profesional incompleta',
       'FAMI_EDUCACIONPADRE_Ninguno', 'FAMI_EDUCACIONPADRE_No Aplica',
       'FAMI_EDUCACIONPADRE_No sabe', 'FAMI_EDUCACIONPADRE_Postgrado',
       'FAMI_EDUCACIONPADRE_Primaria completa',
       'FAMI_EDUCACIONPADRE_Primaria incompleta',
       'FAMI_EDUCACIONPADRE_Secundaria (Bachillerato) completa',
       'FAMI_EDUCACIONPADRE_Secundaria (Bachillerato) incompleta',
       'FAMI_EDUCACIONPADRE_Técnica o tecnológica completa',
       'FAMI_EDUCACIONPADRE_Técnica o tecnológica incompleta',
       'FAMI_ESTRATOVIVIENDA_Estrato 1', 'FAMI_ESTRATOVIVIENDA_Estrato 2',
       'FAMI_ESTRATOVIVIENDA_Estrato 3', 'FAMI_ESTRATOVIVIENDA_Estrato 4',
       'FAMI_ESTRATOVIVIENDA_Estrato 5', 'FAMI_ESTRATOVIVIENDA_Estrato 6',
       'FAMI_ESTRATOVIVIENDA_Sin Estrato', 'FAMI_PERSONASHOGAR_1 a 2',
       'FAMI_PERSONASHOGAR_3 a 4', 'FAMI_PERSONASHOGAR_5 a 6',
       'FAMI_PERSONASHOGAR_7 a 8', 'FAMI_PERSONASHOGAR_9 o más',
       'FAMI_SITUACIONECONOMICA_Igual', 'FAMI_SITUACIONECONOMICA_Mejor',
       'FAMI_SITUACIONECONOMICA_Peor', 'FAMI_TIENECOMPUTADOR_No',
       'FAMI_TIENECOMPUTADOR_Si', 'FAMI_TIENEINTERNET_No',
       'FAMI_TIENEINTERNET_Si', 'PERIODO', 'PUNT_GLOBAL_mean',
       'PUNT_GLOBAL_median', 'PUNT_GLOBAL_std'],
      dtype='object')

In [5]:
datos.dtypes

CANTIDAD_ESTUDIANTES       int64
COLE_AREA_UBICACION       object
COLE_BILINGUE             object
COLE_CALENDARIO           object
COLE_CARACTER             object
                          ...
FAMI_TIENEINTERNET_Si      int64
PERIODO                    int64
PUNT_GLOBAL_mean         float64
PUNT_GLOBAL_median       float64
PUNT_GLOBAL_std          float64
Length: 77, dtype: object

Verificacion de nulos

In [6]:
datos[datos.isnull().any(axis=1)]

,CANTIDAD_ESTUDIANTES,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,COLE_COD_MCPIO_UBICACION,COLE_DEPTO_UBICACION,...,FAMI_SITUACIONECONOMICA_Mejor,FAMI_SITUACIONECONOMICA_Peor,FAMI_TIENECOMPUTADOR_No,FAMI_TIENECOMPUTADOR_Si,FAMI_TIENEINTERNET_No,FAMI_TIENEINTERNET_Si,PERIODO,PUNT_GLOBAL_mean,PUNT_GLOBAL_median,PUNT_GLOBAL_std
0,1,URBANO,N,A,TÉCNICO/ACADÉMICO,105001000621,105001000621,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,0,20211,264.000000,264.0,NaN
1,1,URBANO,N,A,TÉCNICO/ACADÉMICO,105001000931,105001000931,5,5001,ANTIOQUIA,...,0.0,0.0,0,0,0,0,20211,273.000000,273.0,NaN
2,1,URBANO,N,A,ACADÉMICO,105001001651,105001001651,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,1,20211,332.000000,332.0,NaN
3,1,URBANO,N,A,ACADÉMICO,105001002020,105001002020,5,5001,ANTIOQUIA,...,0.0,1.0,0,1,0,1,20211,242.000000,242.0,NaN
4,1,URBANO,S,A,TÉCNICO/ACADÉMICO,105001002488,105001002046,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,1,20211,246.000000,246.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41863,112,RURAL,N,B,TÉCNICO/ACADÉMICO,476248000478,476248000478,76,76248,VALLE,...,NaN,NaN,7,105,9,103,20161,281.098214,276.0,46.001559
41864,20,URBANO,S,B,ACADÉMICO,476520006324,476520006324,76,76520,VALLE,...,NaN,NaN,0,20,0,20,20161,297.450000,292.5,35.704157
41865,123,URBANO,N,B,TÉCNICO,476520007207,476520007207,76,76520,VALLE,...,NaN,NaN,10,113,8,115,20161,269.276423,272.0,41.181983
41866,9,RURAL,S,B,ACADÉMICO,476892099710,476892099710,76,76892,VALLE,...,NaN,NaN,1,8,0,9,20161,355.555556,368.0,39.386264
41867,11,RURAL,N,B,ACADÉMICO,476892099728,476892099728,76,76892,VALLE,...,NaN,NaN,0,11,2,9,20161,277.818182,262.0,48.010037

Datos por variable

In [7]:
verificar_nulos=datos.isnull().sum()
verificar_nulos=verificar_nulos.to_frame()
verificar_nulos[verificar_nulos[0] > 0 ]

                                                       0
ESTU_DEDICACIONINTERNET_30 minutos o menos          8080
ESTU_DEDICACIONINTERNET_Entre 1 y 3 horas           8080
ESTU_DEDICACIONINTERNET_Entre 30 y 60 minutos       8080
ESTU_DEDICACIONINTERNET_Más de 3 horas              8080
ESTU_DEDICACIONINTERNET_No Navega Internet          8080
ESTU_DEDICACIONLECTURADIARIA_30 minutos o menos     8080
ESTU_DEDICACIONLECTURADIARIA_Entre 1 y 2 horas      8080
ESTU_DEDICACIONLECTURADIARIA_Entre 30 y 60 minutos  8080
ESTU_DEDICACIONLECTURADIARIA_Más de 2 horas         8080
ESTU_DEDICACIONLECTURADIARIA_No leo por entrete...  8080
FAMI_EDUCACIONMADRE_No Aplica                       8080
FAMI_EDUCACIONPADRE_No Aplica                       8080
FAMI_ESTRATOVIVIENDA_Sin Estrato                    8080
FAMI_PERSONASHOGAR_1 a 2                            8080
FAMI_PERSONASHOGAR_3 a 4                            8080
FAMI_PERSONASHOGAR_5 a 6                            8080
FAMI_PERSONASHOGAR_7 a 8                            8080
FAMI_PERSONASHOGAR_9 o más                          8080
FAMI_SITUACIONECONOMICA_Igual                       8080
FAMI_SITUACIONECONOMICA_Mejor                       8080
FAMI_SITUACIONECONOMICA_Peor                        8080
PUNT_GLOBAL_std                                      342

In [8]:
datos_sin_nulos=datos[datos["FAMI_SITUACIONECONOMICA_Peor"].notnull()]

In [9]:
datos_sin_nulos=datos_sin_nulos.replace((datos_sin_nulos[datos_sin_nulos["PUNT_GLOBAL_std"].isnull()]), {'PUNT_GLOBAL_std' : 0 } , regex=True)
datos_sin_nulos
#df_proy=df_proy.replace((df_proy[df_proy["PORC_GLOBAL"] > 0.10 ]), {'CLASE_VENTA_GENERAL' : 'C-10' }

,CANTIDAD_ESTUDIANTES,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,COLE_COD_MCPIO_UBICACION,COLE_DEPTO_UBICACION,...,FAMI_SITUACIONECONOMICA_Mejor,FAMI_SITUACIONECONOMICA_Peor,FAMI_TIENECOMPUTADOR_No,FAMI_TIENECOMPUTADOR_Si,FAMI_TIENEINTERNET_No,FAMI_TIENEINTERNET_Si,PERIODO,PUNT_GLOBAL_mean,PUNT_GLOBAL_median,PUNT_GLOBAL_std
0,1,URBANO,N,A,TÉCNICO/ACADÉMICO,105001000621,105001000621,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,0,20211,264.000000,264.0,0.000000
1,1,URBANO,N,A,TÉCNICO/ACADÉMICO,105001000931,105001000931,5,5001,ANTIOQUIA,...,0.0,0.0,0,0,0,0,20211,273.000000,273.0,0.000000
2,1,URBANO,N,A,ACADÉMICO,105001001651,105001001651,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,1,20211,332.000000,332.0,0.000000
3,1,URBANO,N,A,ACADÉMICO,105001002020,105001002020,5,5001,ANTIOQUIA,...,0.0,1.0,0,1,0,1,20211,242.000000,242.0,0.000000
4,1,URBANO,S,A,TÉCNICO/ACADÉMICO,105001002488,105001002046,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,1,20211,246.000000,246.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,78,RURAL,N,B,TÉCNICO/ACADÉMICO,476248000478,476248000478,76,76248,VALLE,...,13.0,16.0,12,63,6,70,20171,271.935897,277.0,37.068676
33784,13,URBANO,S,B,ACADÉMICO,476520006324,476520006324,76,76520,VALLE,...,1.0,3.0,0,12,0,12,20171,299.384615,300.0,41.540218
33785,91,URBANO,N,B,TÉCNICO,476520007207,476520007207,76,76520,VALLE,...,22.0,8.0,4,86,8,81,20171,258.593407,258.0,35.211734
33786,16,RURAL,S,B,ACADÉMICO,476892099710,476892099710,76,76892,VALLE,...,6.0,1.0,0,14,0,13,20171,336.000000,333.0,33.680855
33787,11,RURAL,N,B,ACADÉMICO,476892099728,476892099728,76,76892,VALLE,...,3.0,3.0,0,11,1,10,20171,247.454545,243.0,46.360249

In [10]:
datos_sin_nulos["COLE_AREA_UBICACION"].value_counts()

URBANO    24189
RURAL      9599
Name: COLE_AREA_UBICACION, dtype: int64

In [11]:
datos_sin_nulos["COLE_AREA_UBICACION"].value_counts()

URBANO    24189
RURAL      9599
Name: COLE_AREA_UBICACION, dtype: int64

In [12]:
datos_sin_nulos["COLE_BILINGUE"].value_counts()

N    32846
S      942
Name: COLE_BILINGUE, dtype: int64

In [13]:
datos_sin_nulos["COLE_CALENDARIO"].value_counts()

A       32065
B        1585
OTRO      138
Name: COLE_CALENDARIO, dtype: int64

In [14]:
datos_sin_nulos["COLE_CARACTER"].value_counts()

ACADÉMICO            19645
TÉCNICO/ACADÉMICO     9190
TÉCNICO               4801
NO APLICA              152
Name: COLE_CARACTER, dtype: int64

In [15]:
datos_sin_nulos["COLE_GENERO"].value_counts()

MIXTO        32591
FEMENINO       915
MASCULINO      282
Name: COLE_GENERO, dtype: int64

In [16]:
datos_sin_nulos["COLE_NATURALEZA"].value_counts()

OFICIAL       22603
NO OFICIAL    11185
Name: COLE_NATURALEZA, dtype: int64

In [17]:
datos_sin_nulos["COLE_SEDE_PRINCIPAL"].value_counts()

S    31257
N     2531
Name: COLE_SEDE_PRINCIPAL, dtype: int64

In [18]:
cleanup_nums = {"COLE_AREA_UBICACION":{"URBANO": 0, "RURAL": 1},
                "COLE_BILINGUE": {"N": 0, "S": 1},
                "COLE_CALENDARIO": {"A": 0, "B": 1, "OTRO": 3},
                "COLE_CARACTER": {"ACADÉMICO": 0, "TÉCNICO/ACADÉMICO": 1, "TÉCNICO": 3, "NO APLICA" : 4},
                "COLE_GENERO": {"MIXTO": 0, "FEMENINO": 1, "MASCULINO": 2},
                "COLE_NATURALEZA": {"OFICIAL": 0, "NO OFICIAL": 1},
                "COLE_SEDE_PRINCIPAL": {"N": 0, "S": 1}}
datos_sin_nulos2 = datos_sin_nulos.replace(cleanup_nums)
datos_sin_nulos2.head()

,CANTIDAD_ESTUDIANTES,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,COLE_COD_MCPIO_UBICACION,COLE_DEPTO_UBICACION,...,FAMI_SITUACIONECONOMICA_Mejor,FAMI_SITUACIONECONOMICA_Peor,FAMI_TIENECOMPUTADOR_No,FAMI_TIENECOMPUTADOR_Si,FAMI_TIENEINTERNET_No,FAMI_TIENEINTERNET_Si,PERIODO,PUNT_GLOBAL_mean,PUNT_GLOBAL_median,PUNT_GLOBAL_std
0,1,0,0,0,1,105001000621,105001000621,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,0,20211,264.0,264.0,0.0
1,1,0,0,0,1,105001000931,105001000931,5,5001,ANTIOQUIA,...,0.0,0.0,0,0,0,0,20211,273.0,273.0,0.0
2,1,0,0,0,0,105001001651,105001001651,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,1,20211,332.0,332.0,0.0
3,1,0,0,0,0,105001002020,105001002020,5,5001,ANTIOQUIA,...,0.0,1.0,0,1,0,1,20211,242.0,242.0,0.0
4,1,0,1,0,1,105001002488,105001002046,5,5001,ANTIOQUIA,...,0.0,0.0,0,1,0,1,20211,246.0,246.0,0.0

In [19]:
datos_sin_nulos3=datos_sin_nulos2[['CANTIDAD_ESTUDIANTES', 'COLE_AREA_UBICACION', 'COLE_BILINGUE',
'COLE_CALENDARIO', 'COLE_CARACTER','COLE_GENERO',
'COLE_NATURALEZA','COLE_SEDE_PRINCIPAL', 'ESTU_DEDICACIONINTERNET_30 minutos o menos',
'ESTU_DEDICACIONINTERNET_Entre 1 y 3 horas',
'ESTU_DEDICACIONINTERNET_Entre 30 y 60 minutos',
'ESTU_DEDICACIONINTERNET_Más de 3 horas',
'ESTU_DEDICACIONINTERNET_No Navega Internet',
'ESTU_DEDICACIONLECTURADIARIA_30 minutos o menos',
'ESTU_DEDICACIONLECTURADIARIA_Entre 1 y 2 horas',
'ESTU_DEDICACIONLECTURADIARIA_Entre 30 y 60 minutos',
'ESTU_DEDICACIONLECTURADIARIA_Más de 2 horas',
'ESTU_DEDICACIONLECTURADIARIA_No leo por entretenimiento',
'ESTU_GENERO_F', 'ESTU_GENERO_M', 'ESTU_TIENEETNIA_No',
'ESTU_TIENEETNIA_Si',
'FAMI_EDUCACIONMADRE_Educación profesional completa',
'FAMI_EDUCACIONMADRE_Educación profesional incompleta',
'FAMI_EDUCACIONMADRE_Ninguno', 'FAMI_EDUCACIONMADRE_No Aplica',
'FAMI_EDUCACIONMADRE_No sabe', 'FAMI_EDUCACIONMADRE_Postgrado',
'FAMI_EDUCACIONMADRE_Primaria completa',
'FAMI_EDUCACIONMADRE_Primaria incompleta',
'FAMI_EDUCACIONMADRE_Secundaria (Bachillerato) completa',
'FAMI_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta',
'FAMI_EDUCACIONMADRE_Técnica o tecnológica completa',
'FAMI_EDUCACIONMADRE_Técnica o tecnológica incompleta',
'FAMI_EDUCACIONPADRE_Educación profesional completa',
'FAMI_EDUCACIONPADRE_Educación profesional incompleta',
'FAMI_EDUCACIONPADRE_Ninguno', 'FAMI_EDUCACIONPADRE_No Aplica',
'FAMI_EDUCACIONPADRE_No sabe', 'FAMI_EDUCACIONPADRE_Postgrado',
'FAMI_EDUCACIONPADRE_Primaria completa',
'FAMI_EDUCACIONPADRE_Primaria incompleta',
'FAMI_EDUCACIONPADRE_Secundaria (Bachillerato) completa',
'FAMI_EDUCACIONPADRE_Secundaria (Bachillerato) incompleta',
'FAMI_EDUCACIONPADRE_Técnica o tecnológica completa',
'FAMI_EDUCACIONPADRE_Técnica o tecnológica incompleta',
'FAMI_ESTRATOVIVIENDA_Estrato 1', 'FAMI_ESTRATOVIVIENDA_Estrato 2',
'FAMI_ESTRATOVIVIENDA_Estrato 3', 'FAMI_ESTRATOVIVIENDA_Estrato 4',
'FAMI_ESTRATOVIVIENDA_Estrato 5', 'FAMI_ESTRATOVIVIENDA_Estrato 6',
'FAMI_ESTRATOVIVIENDA_Sin Estrato', 'FAMI_PERSONASHOGAR_1 a 2',
'FAMI_PERSONASHOGAR_3 a 4', 'FAMI_PERSONASHOGAR_5 a 6',
'FAMI_PERSONASHOGAR_7 a 8', 'FAMI_PERSONASHOGAR_9 o más',
'FAMI_SITUACIONECONOMICA_Igual', 'FAMI_SITUACIONECONOMICA_Mejor',
'FAMI_SITUACIONECONOMICA_Peor', 'FAMI_TIENECOMPUTADOR_No',
'FAMI_TIENECOMPUTADOR_Si', 'FAMI_TIENEINTERNET_No',
'FAMI_TIENEINTERNET_Si', 'PERIODO', 'PUNT_GLOBAL_mean',
'PUNT_GLOBAL_median', 'PUNT_GLOBAL_std']]
datos_sin_nulos3.head()

,CANTIDAD_ESTUDIANTES,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_GENERO,COLE_NATURALEZA,COLE_SEDE_PRINCIPAL,ESTU_DEDICACIONINTERNET_30 minutos o menos,ESTU_DEDICACIONINTERNET_Entre 1 y 3 horas,...,FAMI_SITUACIONECONOMICA_Mejor,FAMI_SITUACIONECONOMICA_Peor,FAMI_TIENECOMPUTADOR_No,FAMI_TIENECOMPUTADOR_Si,FAMI_TIENEINTERNET_No,FAMI_TIENEINTERNET_Si,PERIODO,PUNT_GLOBAL_mean,PUNT_GLOBAL_median,PUNT_GLOBAL_std
0,1,0,0,0,1,0,0,1,0.0,0.0,...,0.0,0.0,0,1,0,0,20211,264.0,264.0,0.0
1,1,0,0,0,1,0,0,1,0.0,0.0,...,0.0,0.0,0,0,0,0,20211,273.0,273.0,0.0
2,1,0,0,0,0,0,0,1,0.0,0.0,...,0.0,0.0,0,1,0,1,20211,332.0,332.0,0.0
3,1,0,0,0,0,0,0,1,0.0,0.0,...,0.0,1.0,0,1,0,1,20211,242.0,242.0,0.0
4,1,0,1,0,1,0,0,0,0.0,1.0,...,0.0,0.0,0,1,0,1,20211,246.0,246.0,0.0

In [20]:
#datos_sin_nulos3.to_csv('D:/Universidad/Maestria/Tesis/DATOS/Data_Agrupada_depurada/datos_imputados.csv', index=False)

In [21]:
#datos_sin_nulos3.to_excel("D:/Universidad/Maestria/Tesis/DATOS/Data_Agrupada_depurada/datos_imputados.xlsx")

In [22]:
datos_sin_nulos3.groupby(['PERIODO'], as_index = False)[['PUNT_GLOBAL_mean']].mean()

   PERIODO  PUNT_GLOBAL_mean
0    20171        308.204831
1    20172        253.101108
2    20181        312.517827
3    20182        249.203304
4    20191        270.262804
5    20192        245.173308
6    20201        279.258113
7    20202        245.382957
8    20211        285.546971